.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .container-inner {
    width: 1440px;
    margin: 0 auto;
    @media (max-width: 1440px) {
      width: 90%;
    }
  }
}
