// Font families
$primary-font: "Work Sans", sans-serif;
$secondary-font: "Georgia", serif;

// Font weights
$bold: 700;
$regular: 400;

// Heading settings
$heading-line-height: 110%;
$heading-letter-spacing: 0.8px;
$heading-margin-bottom: 0.5rem;

// Paragraph settings
$paragraph-line-height: 150%;
$paragraph-letter-spacing: 0.4px;
$paragraph-margin-bottom: 2rem;

// Genreal rules for headings
.heading {
  font-family: $primary-font;
  font-weight: $bold;
  margin-bottom: $heading-margin-bottom;
  letter-spacing: $heading-letter-spacing;
  line-height: $heading-line-height;
}

// General rules for a paragraph
.paragraph {
  font-family: $secondary-font;
  font-weight: $regular;
  letter-spacing: 0.4px;
  line-height: 150%;
  margin-bottom: 2rem;
}

// Specific rules for fluid typgraphy
p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 4.6vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4.2vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3.8vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 3.4vw, 2rem);
}

h6 {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}
