*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #c0d0d8;
}

.heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 0.8px;
  line-height: 110%;
}

.paragraph {
  font-family: "Georgia", serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 150%;
  margin-bottom: 2rem;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 4.6vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4.2vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3.8vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 3.4vw, 2rem);
}

h6 {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.container .container-inner {
  width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container .container-inner {
    width: 90%;
  }
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

/*# sourceMappingURL=/scripts.css.map */